---
layout: default
---
<article>
    <h1 class="custom-pages-title">Posts timeline</h1>
    <!-- <ul>
        {% for post in site.posts %}
        <a href="{{ post.url | relative_url}}">
            <li><h3 class="list_post_title"><span class="a-nude">{{ post.date | date: "%Y/%m/%d" | escape }} → {{ post.title | truncate: 42 | escape }}</span></h3></li>
        </a>
        {% endfor %}
    </ul> -->
    <table class="archives-table">
        {% for post in site.posts %}
            <tr>
                <td>
                    <a href="{{ post.url | relative_url}}">
                        <h2 class="list_post_title"><span class="a-nude">{{ post.title | truncate: 30 | escape }}</span></h2>
                    </a>
                </td>
                <td class="archives-date">
                    <h3 class="list_post_title">{{ post.date | date: "%d/%m/%Y" | escape }}</h3>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="line"></div>
</article>
